<%= link_to("<< Back to Profile list", {:action => 'index'}, :class => 'back-link') %>

<div class="Profiles edit">
  <h2>Update page</h2>

  <%= form_for(:Profile, :url => {:action => 'update'}) do |f| %>

    <%= render(:partial=>"form",:locals=>{:f=>f})  %>

    <div class="form-buttons">
      <%= submit_tag("Update profile") %>
    </div>

  <% end %>
</div>
