<% title "Profile List" %>

<div id='profiles'>
<% @profiles.each do |profile| %>
	<div class='profile'
	<p>
	 	<strong><%= profile.name %> </strong>
	 	<%= link_to "Add to friends", %>
	<div class="clear"></div>
	</p>
	</div>
<% end>
</div>
